
body{
    margin-top: 5%;
    background-color: rgb(190, 231, 201);
}

thead{
    background-color: #8bd2ec;
    font-size:18px;
    font-family: 'Jura', sans-serif;
}

tbody {
    text-align: center;
    font-size:15px;
    font-family: 'Jura', sans-serif;

}

#employee{
    justify-content: center;
    margin-left:20%;
    margin-right:10%;
    border: 3px solid rgb(10,10,10);
    margin-top: 5%;
    background-color: azure;

}

#employee th{
    text-align: center;
    background-color: #8bd2ec

}
#employee td, #employee th{
    border: 1px solid #ddd;
    padding:12px;
}

#employee tr:hover{
    background-color: #ddd;
}