
body{
    margin-top: 5%;
    background-color: rgb(190, 231, 201);
}

thead{
    background-color: #8bd2ec;
    font-size:18px;
    font-family: 'Jura', sans-serif;
}

tbody {
    text-align: center;
    font-size:15px;
    font-family: 'Jura', sans-serif;

}


.headerSortDown:after{
  content: ' ';
  position: relative;
  border: 8px solid transparent;
}

.headerSortDown:after {
  top: 8px;
  border-top-color: rgb(20, 19, 19);
}





#employee{
    justify-content: center;
    margin-left:auto;
    margin-right:auto;

    border: 3px solid rgb(10,10,10);
    margin-top: 2%;
    margin-bottom: 5%;
    background-color: azure;

}

#employee th{
    text-align: center;
    background-color: #8bd2ec;

}
#employee td, #employee th{
    border: 1px solid #ddd;
    padding:10px;
}

#employee tr:hover{
    background-color: #ddd;
}